:root {
    --Color-1: #AC9878;
    --Color-2: #F6011F;
    --Color-3: #0105C2;
    --Color-3-suave: #1F4497;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    width: 90vw;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);

}


.contenedor > div,
.contenedor .contenido,
.contenedor .footer,
.contenedor .header,
.contenedor .sidebar {
    padding: 20px;
    border-radius: 10px;
}

.contenedor .header{
    background: var(--Color-1);
    color: #fff;
    transition: 0.5s ease;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.contenedor .header:hover {
    background: var(--Color-3-suave);
}

.contenedor .contenido {
    background: #259aaf;
    color: #fff;
    grid-column: span 2;
}

.contenedor .sidebar {
    background: #63c1d1;
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;

    grid-row: span 2;
}

.contenedor .footer {
    grid-column: 1/4;
    background: #259aaf;
}

.contenedor .widget-1,
.contenedor .widget-2 {
    background: #57acbb;
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;
}